h1 {
    display: block;
    font-size: 5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
h2 {
    margin-left: 80;
    margin-right: 20;
    text-align: justify;
    color: blue;
}
body {
     background: linear-gradient(
        to right,
     );
}
